div.summaries
  - each summary in summaries
    article.summary
      hgroup.summary-title
        a(href='/blog/#{summary.slug}')
          h2.title #{summary.title}
        h3.author Por #{summary.author}
        h3.created 
          = (moment(summary.created).format('[el] DD/MM/YYYY'))
      div.summary-abstract 
        p!= summary.abstract
      div.summary-action
        a.link(href='/blog/#{summary.slug}') Leer m&aacutes
        a.category(href='/blog/category/#{summary.category}') #{summary.category}
        - each tag in summary.tags
          a.tag(href='/blog/tag/#{tag}') #{tag}
        h3.comments [ #{summary.commentCounter} Comentarios ]
