extends ../../layout
block content
  section#admin
    div.container
      div.row
        div.col-md-10.col-md-offset-1
          a.btn.btn-primary(href='/blog/admin/articles')
            i.icon-arrow-left
            span  Volver
          form(method='post', action='/blog/admin/articles/#{article == undefined ? "new" : article.slug}')
            legend 
              h2 #{title}:
            div.form-group.input-group
              span.input-group-addon Título
              input.form-control(type='text', name='title', value='#{article === undefined ? "" : article.title}')
            div.form-group.input-group
              span.input-group-addon Slug
              input.form-control(type='text', name='slug', value='#{article === undefined ? "" : article.slug}') 
            div.form-group.input-group
              span.input-group-addon Autor
              input.form-control(type='text', name='author', value='#{article === undefined ? "" : article.author}')
            div.form-group.input-group
              span.input-group-addon Categoria
              input.form-control(type='text', name='category', value='#{article === undefined ? "" : article.category}')
            div.form-group.input-group
              span.input-group-addon Tags (separados por comas)
              input.form-control(type='text', name='tags', value='#{article === undefined ? "" : article.tags}')
            div.form-group
              label Resumen:
              textarea.form-control(name='abstract', rows='10') #{article === undefined ? "" : article.abstract}
            div.form-group
              label Contenido del artículo
              textarea.form-control(name='content', rows='30') #{article === undefined ? "" : article.content}
            div.form-group
              label
                - if (article) {
                input(type='checkbox', name='published', checked=(article.published ? "checked" : undefined))
                - } else {
                input.form-control(type='checkbox', name='published')
                - }
                span  Publicado
            div.btn-toolbar
              a.btn.btn-primary(href='/blog/admin/articles')
                i.icon-arrow-left
                span  Volver
              - if (article) {
              a.btn.btn-warning.pull-right(href='/blog/admin/articles/#{article.slug}/comments')
                i.icon-comments-alt
                span  Comentarios
              - }
              button.btn.btn-success.pull-right(type='submit', value='#{article === undefined ? "Crear" : "Actualizar"}')
                i.icon-ok
                span  #{article === undefined ? "Crear" : "Actualizar"}
                - if (article) {
                  input(type="hidden", name="_method", value="put")
                -}
          - if (article) {
            - if (pictures.length) {
              legend 
                h2 Imágenes adjuntas:
              - each picture in pictures
                div.btn-toolbar
                  form(method='post', action='/blog/admin/articles/#{article.slug}/pictures/#{picture.filename}')
                    a(href='/blog/pictures/#{picture.filename}') /blog/pictures/#{picture.filename}
                    button.btn.btn-xs.btn-danger.pull-right(type='submit')
                      i.icon-remove
                      span  Eliminar
                    input(type="hidden", name="_method", value="delete")
            - }
            legend 
              h2 Subir imagen
            form(method='post', action='/blog/admin/articles/#{article.slug}/pictures/new', enctype='multipart/form-data')
              div.form-group
                input(type='file', name='picture')
              div.btn-toolbar
                button.btn.btn-success.pull-right(type='submit')
                  i.icon-upload
                  span  Subir imagen
          - }
