extends ../../layout
block content
  div.wrapper-admin
    section.admin
      h1 #{title}
      ul
        - each comment in article.comments
          li
            form(method='post', action='/blog/admin/articles/#{article.slug}/comments/#{comment._id}')
              h3 #{comment.author} - el #{comment.created.getDate()}/#{comment.created.getMonth()+1}/#{comment.created.getFullYear()} a las #{comment.created.getHours()}:#{comment.created.getMinutes()}
              p #{comment.comment}
              p.action
                input.remove(type='submit', value='Borrar')
                input(type="hidden", name="_method", value="delete")
      p.action
        a.link(href='/blog/admin/articles/#{article.slug}') Volver