extends layout

block content
    
  div.blog
  
    include includes/filter
    
    - each post in posts
      div.post
        div.post-title
          h2.title #{post.title}
          h3.created  [ #{post.created} - 
          h3.author #{post.author} ]
        div.post-abstract #{post.abstract}
        div.post-action
          a.link(href='/blog/#{post.slug}') Leer m&aacutes
          - each tag in post.tags
            a.tag #{tag}

    include includes/paginator