extends layout

block content
    
  div.blog
    div.filter
      div.row
        label.field
          span Title:
          input.ui-corner-all(size=58)
        label.field
          span Autor:
          input.ui-corner-all(size=26)
      div.row
        label.field
          span Inicio:
          input.date.ui-corner-all(size=10)
        label.field
          span Fin:
          input.date.ui-corner-all(size=10)
        label.field
          span Tags:
          input.ui-corner-all(size=50)
    - each post in posts
      div.post
        div.post-title
          h2.title #{post.title}         
          h3.created [ #{post.created} - 
          h3.author #{post.author} ]
        div.post-abstract #{post.abstract}
        div.post-action
          a.link.ui-corner-all(href='/blog/#{post.slug}') Leer m&aacutes
          - each tag in post.tags
            h3.tag.ui-corner-all #{tag}

    ul.pagination.ui-widget.ui-helper-clearfix
      li.pagination-icon.ui-state-default.ui-corner-all
        span.ui-icon.ui-icon-carat-1-w
      li.pagination-info
        span.pagination-info-text #{pagination}
      li.pagination-icon.ui-state-default.ui-corner-all    
        span.ui-icon.ui-icon-carat-1-e