extends layout
block content
  h1 #{title}
  form(method='post', action='/blog/admin/users/#{user === undefined ? "new" : user.username}')
    p
      label Nombre de usuario:
      input(type='text', name='username', value='#{user === undefined ? "" : user.username}') 
    p
      label #{user === undefined ? "Contraseña" : "Nueva contraseña"}:
      input(type='text', name='password')
    p
      input(type='submit', value='#{user === undefined ? "Crear" : "Actualizar"}')
      - if (user !== undefined) {
        input(type="hidden", name="_method", value="put")
      - }
  a.link(href='/blog/admin/users') Volver