extends ../../layout
block content
  section#admin
    div.container
      div.row
        div.col-md-10.col-md-offset-1
          a.btn.btn-primary(href='/blog/admin/articles')
            i.icon-arrow-left
            span  Volver
          form(method='post', action='/blog/admin/articles/#{entity ? entity.slug + "?_method=PUT" : "new"}')
            legend
              h2 #{title}:
            div.form-group.input-group
              span.input-group-addon Título
              input.form-control(type='text', name='title', value='#{entity ? entity.title : "" }')
            div.form-group.input-group
              span.input-group-addon Slug
              input.form-control(type='text', name='slug', value='#{entity ? entity.slug : ""}')
            div.form-group.input-group
              span.input-group-addon Autor
              input.form-control(type='text', name='author', value='#{entity ? entity.author : "" }')
            div.form-group.input-group
              span.input-group-addon Categoria
              input.form-control(type='text', name='category', value='#{entity ? entity.category : ""}')
            div.form-group.input-group
              span.input-group-addon Tags (separados por comas)
              input.form-control(type='text', name='tags', value='#{entity ? entity.tags : ""}')
            div.form-group
              label Resumen:
              textarea.form-control(name='abstract', rows='10') #{entity ? entity.abstract : "" }
            div.form-group
              label Contenido del artículo
              textarea.form-control(name='content', rows='30') #{entity ? entity.content : "" }
            div.form-group
              label                
                input(type='checkbox', name='published', checked=(entity && entity.published ? "checked" : undefined))
                span  Publicado
            div.btn-toolbar
              a.btn.btn-primary(href='/blog/admin/articles')
                i.icon-arrow-left
                span  Volver
              - if (entity) {
              a.btn.btn-warning.pull-right(href='/blog/admin/articles/#{entity.slug}/comments')
                i.icon-comments-alt
                span  Comentarios
              a.btn.btn-warning.pull-right(href='/blog/admin/articles/#{entity.slug}/pictures')
                i.icon-picture
                span  Pictures
              - }
              button.btn.btn-success.pull-right(type='submit', value='#{entity ? "Crear" : "Actualizar"}')
                i.icon-ok
                span  #{entity ? "Actualizar" : "Crear"}
