extends ../../layout
block content
  section#admin
    div.container
      div.row
        div.col-md-6.col-md-offset-3
          legend
            h2 #{title}:
          div.btn-toolbar
            a.btn.btn-primary(href='/blog/admin')
              i.icon-arrow-left
              span  Volver
          ul.nav.nav-list
            - each captcha in entities
              li
                div.btn-toolbar
                  form(method='post', action='/blog/admin/captchas/#{captcha.filename}?_method=DELETE')
                    a(href='/blog/captchas/#{captcha.filename}') /blog/captcha/#{captcha.filename}
                    label &nbsp;(#{captcha.metadata.value})
                    button.btn.btn-xs.btn-danger.pull-right(type='submit')
                      i.icon-remove
                      span  Eliminar
          div.btn-toolbar
            a.btn.btn-primary(href='/blog/admin')
              i.icon-arrow-left
              span  Volver
            a.btn.btn-success.pull-right(href='/blog/admin/captchas/new')
              i.icon-picture
              span  Nuevo
