extends ../../layout
block content
  section#admin
    div.container
      div.row
        div.col-md-10.col-md-offset-1
          div.btn-toolbar
            a.btn.btn-primary(href='/blog/admin/articles/#{slug}')
              i.icon-arrow-left
              span  Volver
          legend
            h2 #{title}:
          ul.list-unstyled
            - each comment in comments
              li
                form(method='post', action='/blog/admin/articles/#{slug}/comments/#{comment._id}')
                  h5
                    strong #{comment.author}
                    span
                      = (moment(comment.created).format('[el] DD/MM/YYYY [ ] HH:mm'))
                  div
                    p!=comment.comment
                  div.btn-toolbar
                    button.btn.btn-danger.pull-right(type='submit')
                      i.icon-remove
                      span  Eliminar
                    input(type="hidden", name="_method", value="delete")
          div.btn-toolbar
            a.btn.btn-primary(href='/blog/admin/articles/#{slug}')
              i.icon-arrow-left
              span  Volver