div.text-center
  ul.pagination
    - if (pagination.previousPage > -1)
      li
        a(href='/blog?page=#{pagination.previousPage}')
          i.icon-angle-left
    - else
      li.disabled
        span
          i.icon-angle-left
    - each page in pagination.pages
      - if (!page.selected)
        li  
          a(href='/blog?page=#{page.count}') #{page.count + 1}
      - else
        li.active
          span #{page.count + 1}
    -if (pagination.nextPage > -1)
      li
        a(href='/blog?page=#{pagination.nextPage}')
          i.icon-angle-right
    - else
      li.disabled
        span
          i.icon-angle-right
