div.pagination.pagination-centered
  ul
    - if (pagination.previousPage > -1)
      li
        a(href='/blog/#{pagination.previousPage}') &larr;
    - else
      li.disabled
        span &larr;
    - each page in pagination.pages
      - if (!page.selected)
        li  
          a(href='/blog/#{page.count}') #{page.count + 1}
      - else
        li.active
          span #{page.count + 1}
    -if (pagination.nextPage > -1)
      li
        a(href='/blog/#{pagination.nextPage}') &rarr;
    - else
      li.disabled
        span &rarr;
