div.pagination
  a#previous(class='#{pagination.previousPage > -1 ? "" : "disable"}', href='/blog/#{pagination.previousPage}')
  a#page-selector(href='#') #{pagination.selected}
  a#next(class='#{pagination.nextPage > -1 ? "" : "disable"}', href='/blog/#{pagination.nextPage}')
  ul#pages
    - each page in pagination.pages
      li
        - if (!page.selected)
          a(href='/blog/#{page.count}') #{page.count + 1}
        - else
          a(class='selected', href='#') #{page.count + 1}