div#summary
  - each article in articles
    article
      //- title
      h3
        a(href='/blog/#{article.slug}') #{article.title}
      small.text-muted
        = (moment(article.created).format('DD/MM/YYYY [ ]'))
        strong #{article.author}
      //- content
      != article.abstract
      //- button bar
      div.btn-toolbar
        a.btn.btn-xs.btn-primary(href='/blog/#{article.slug}') Leer m&aacutes
        a.btn.btn-xs.btn-default(href='/blog/category/#{article.category}') #{article.category}
        - each tag in article.tags
          a.btn.btn-xs.btn-default(href='/blog/tag/#{tag}') #{tag}
        a(href='/blog/#{article.slug}#comments') #{article.commentCounter} Comentarios
