div#summary
  - each summary in summaries
    article
      //- title
      h3
        a(href='/blog/#{summary.slug}') #{summary.title}
        small  por 
          strong #{summary.author}
        small
          = (moment(summary.created).format('[ el] DD/MM/YYYY'))
      //- content
      p!= summary.abstract
      //- button bar
      div#labels
        a.label.label-info(href='/blog/#{summary.slug}') Leer m&aacutes
        a.label.label-success(href='/blog/category/#{summary.category}') #{summary.category}
        - each tag in summary.tags
          a.label.label-warning(href='/blog/tag/#{tag}') #{tag}
        small [#{summary.commentCounter} Comentarios ]
